.App {
  margin:0px;
  padding: 0px;
  text-align: center;
}

.main-cont{
  min-height: 100vh;
  background-color: #eceafd;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main-upper-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color: #371952;

}
.add-note-icon{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: #f2f1fc;
  color: #371952;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border: none;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.19);
  cursor: pointer;

}
.add-note-icon:hover{
  box-shadow: 0px 5.5px 5px 0px rgba(0, 0, 0, 0.19);

}
.input-search{
  width: 70%;
  padding: 5px;
  border: 1px solid #371952;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 5px;
  outline: none;
  font-size: smaller;
  margin-bottom: 10px;
}

.each-note-cont{
  background-color: #4f4b6a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px;


}

.each-note{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  color: #e9e7f9;

}

.delete-note{
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #e9e7f9;
  font-size: larger;

}

.note-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #eceafd;
  min-height: 100vh;
  
}
.input-title{
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  outline: none;
  font-size: smaller;
  background-color: transparent;
  
  
}
.input-description{
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #3f3b5a;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  

}
.link-section{
  margin-top: 10px;
  align-self: flex-start;
}
.input-link{
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #3f3b5a;
  outline: none;
}
.add-media-btn{
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid #3f3b5a;
  padding: 5px;
  margin-left: 2px;
  
}

.media-preview{
  
  margin-top: 10px;
  padding: 5px;
  width: 400px;
  
}
.color-picker{
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  padding: 5px;
}
.submit-button{
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #3f3b5a;
  border-radius: 5px;
  outline: none;
  width: 80px;
}
.video{
  width: 90%;
}
.image{
  width: 90%;
  object-fit: cover;
}

.brief-note-cont{
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.brief-content-cont{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.brief-note-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  margin-bottom: 15px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  outline: none;

}
.brief-note-description{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: smaller;
  font-weight: 100;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  outline: none;
}
.brief-note-link{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  outline: none;
  
  margin-bottom: 10px;
  
  
}
.save-changes-btn{
  width:100px;
  height: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  cursor: pointer;
}
.img-vid-cont{
  margin-top: 10px;
  margin-bottom: 10px;
  width:70%;
}
.brief-video{
  margin-left: 20px;
}

/* FloatingButton.css */
.floating-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #4f4b6a; /* Change the color to your preference */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
  transition: background-color 0.3s; /* Add a transition effect */
}

.floating-button:hover {
  background-color: #371952; /* Change hover color to your preference */
}




@media (min-height: 760px) {
  .App {
    text-align: center;
  }
  
  .main-cont{
    min-height: 100vh;
    background-color: #eceafd;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .main-upper-cont{
    display: flex;
    justify-content: space-between;
   align-items: center;
  }
  
  .title{
    font-size: xx-large;
  }
  .add-note-icon{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    font-size: larger;
  
  }
  .input-search{
    width:50%;
    padding: 10px;
    font-size: smaller;
  }
  .each-note-cont{
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .each-note{
    font-size: large;
  }
  
  .delete-note{
  
  }
  .note-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #eceafd;
    min-height: 100vh;  
  }
  .input-title{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    outline: none;
    font-size: large;
    background-color: transparent;
    width: 50%;
  }
  .input-description{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #3f3b5a;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    width: 60%;
  
  }
  .link-section{
    margin-top: 10px;
    align-self: flex-start;
  }
  .input-link{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    padding: 5px;
    border: 1px solid #3f3b5a;
    outline: none;
  }
  .add-media-btn{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #3f3b5a;
    padding: 5px;
    margin-left: 2px;  
  }
  
  .media-preview{
    
    margin-top: 10px;
    padding: 5px;
    width: 400px;
    
  }
  .color-picker{
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    padding: 5px;
  }
  .submit-button{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #3f3b5a;
    border-radius: 5px;
    outline: none;
    width: 80px;
  }
  .brief-content-cont{
    margin: 60px;
  }
  .brief-note-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  
  
  }
  .brief-note-description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 100;
  }
  .img-vid-cont{
    margin-top: 10px;
    margin-bottom: 10px;
    width:40%;
    margin-left: 30px;

  }
  .brief-video{
    
    height: auto;
    width: auto;
  }

}